/* Base styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}

/* White box and dropdown styling */
#institutionDropdown {
    font-size: 16px;
    padding: 15px;
    width: 350px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto; /* Center the dropdown */
    display: block;
}

select:focus {
    outline: none;
    border-color: #d32f2f; /* Red border on focus */
}

/* Contact Info Box Styling */
#contactInfo {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    width: 350px;
    margin: 20px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

/* Media query for larger screens */
@media (min-width: 768px) {
    #institutionDropdown, #contactInfo {
        width: 450px;
    }
}

