/* Base styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    width: 100%;
    box-sizing: border-box;
    margin: 20px;
    border: 1px solid #ddd;
}

h1 {
    color: #d32f2f;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.small-text {
    color: #666;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
}

/* Dropdown styles */
#institutionDropdown {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

select:focus {
    outline: none;
    border-color: #d32f2f;
}

/* Contact information styles */
.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    color: #333;
    margin-top: 20px;
}

.contact-info div {
    margin: 5px 0;
}

/* Flexbox adjustments for mobile compatibility */
@media (max-width: 600px) {
    .container {
        margin: 10px;
        padding: 20px;
        width: 100%;
    }

    h1 {
        font-size: 20px;
    }

    .small-text {
        font-size: 12px;
    }

    #institutionDropdown {
        font-size: 14px;
        padding: 8px;
    }

    .contact-info {
        font-size: 14px;
    }
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .container {
        max-width: 500px;
    }
}

